doctype html
html
  head
    title my jade template
  body
form(name="change-username", method="post")
        div.input
            div Change username:
            input(type="text", name="username")
        div.actions
            input(type="submit")