doctype html
html
  head
    title my jade template
  body
  div #{message}
form(name="login", method="post")
        div.input
            div Username
            input(type="text", name="username")
        div.input
            div Password
            input(name="password", type="password")
        div.actions
            input(type="submit")